h1 {
    color: #ffffff;
    padding: 20px 0 20px 20px;
    font-family: 'Fredericka the Great', cursive;
}

h2 {
    color: lightseagreen;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Picture floating LEFT so 15px from the RIGHT */
#image1 {
    float: left;    
    margin: 0 20px 0 0;
    }

.col-sm-6 .col-md-8 .col-lg-8 {
    padding: 50px;
}

/* sticky footer, save this code!! */
html {
    position: relative;
    min-height: 100%;
}

/* first value applies to the top, second to the right and left, third to the bottom. Bottom should be greater than footer height */
body {
    margin: 0 0 100px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    overflow: hidden; 
    background-color: lightcoral;
    text-align: center;
    padding: 40px;
    color: #ffffff;
}

form {
    margin-left: 50px;
}

